/* Contenedor Principal */
.login-container {
    padding: 1rem;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-right{
    background: #1C1C1C;
    color: #ffffff;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1rem 0 1rem;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.container-right img{
    width: 60%;
    height: 60%;
}

.container-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    text-align: center;
}

/* Encabezado */
.login-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
}

/* Mensaje de Bienvenida */
.welcome-container p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #555;
}

/* Contenedor de Botones */
.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 1.5rem;
}

/* Botón General */
.welcome-container button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Botón Sign Up */
.sign-up-btn {
    background-color: #28a745;
    color: #fff;
}

.sign-up-btn:hover {
    background-color: #218838;
}

/* Botón Log In */
.log-in-btn {
    background-color: #007bff;
    color: #fff;
}

.log-in-btn:hover {
    background-color: #0056b3;
}

/* Botón Register with Email */
.email-register-btn {
    display: block;
    margin: 0 auto;
    background-color: #ffc107;
    color: #333;
    margin-bottom: 1.5rem;
}

.email-register-btn:hover {
    background-color: #e0a800;
}

/* Email de Soporte */
.support-email {
    font-size: 0.9rem;
    color: #777;
}

.support-email a {
    color: #007bff;
    text-decoration: none;
}

.support-email a:hover {
    text-decoration: underline;
}
